.carousel-wrapper{
  display: flex;
  flex-flow: nowrap column;
  max-width: 24em;
  margin-inline: auto;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04);
  font-family: 'Noto Sans KR';
  a{
    color: inherit;
    text-decoration: none;
  }
}

/* 상단 영역 */
.carousel-top{
  display: flex;
  flex-flow: nowrap row;
  align-items: center;  
  height: 4em;
  padding: 0.875em 0.625em;
}

.carousel-title{
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  height: 2.25em;
  padding: 0.375em 0.75em;
  border-radius: 6.25em;
  transition: 0.25s;
  img{
    height: 1.5em;
  }
  h2{
    margin-inline: 0.375em;
    font-size: 1.125em;
  }
  &:hover{
    background: rgba(245, 245, 245, 1);
  }
}

/* 아이템 영역 */
.carousel-viewport{
padding: 0 1.5em;
  .carousel-list{
    display: flex;
    gap: 1rem;
  }
}

.carousel-item{
  .carousel-item-title{
    width: 160px;
    padding-top: 8px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .carousel-item-desc, .carousel-item-type{
    font-size: 14px;
    font-weight: 350;
    letter-spacing: -0.01em;
  }
  .carousel-item-type{
    margin-top: 0.5em;
    color: rgba(0, 0, 0, 0.48);
  }


  /* 이미지 썸네일 */
  .img-wrap{
    position: relative;
    box-sizing: content-box;
    max-width: 10em;
    padding-top: 3px;
    border-radius: 1rem;
    overflow: hidden;

    img:first-of-type{
      position: relative;
      z-index: 2;
      transition: all 0.2s;
    }

    img:last-of-type{
      position: absolute;
      bottom: 0; left: 0;
      z-index: 0;
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 1rem;
    }
  }

  &:hover .img-wrap img:first-of-type{
    scale: 1.025;
  }
  &:hover .carousel-item-title,
  &:hover .carousel-item-desc{
    opacity: 0.64;
  }

}

/* 컨트롤러 */
.carousel-controller{
  display: flex;
  gap: 0.75em;
  align-items: center;
  justify-content: center;
  order: 3;
  height: 3.875em;
  button{
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    transition: all 0.1s;
  }
  button:hover{
    background: rgba(245, 245, 245, 1);
  }

  .carousel-page{
    flex-basis: 1;
    font-size: 1.125em;
    .current-page{
      color: rgba(0, 0, 0, 1);
    }
    span{
      color: rgba(0, 0, 0, 0.64);
    }
  }  
}
